.navbar-toggle{
  margin-top: 30px;
}

.navbar-toggle .icon-bar{
  background-color: $corPretoOpacity;
}

@media (max-width:640px) {
  .menu-social{
    display: none;
  }

  .sidebar{
    display: none;
  }

  .navbar-site{
    .navbar-nav > li > a{
      padding: 10px 15px;
    }
  }
}
