@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body{
  font-family: 'Open Sans', sans-serif !important;
}


h1,h2,h3,h4,
h1 a, h2 a, h3 a,h4 a{
  color: $corRoxaSite;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 20px;
}

.titulo-servico{
  text-transform: uppercase;
  color: $branco;
  margin-top: 15px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
